<div class="container-div">
  <mat-card class="card-info">
    <mat-card-header>
      <mat-card-title>Informações gerais</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <a routerLink="/veiculos">
          Gerenciar Veículos
        </a>
      </p>
      <p>
        <a routerLink="/gerenciar-alugueis">
          Gerenciar Alugueis
        </a>
      </p>
      <p>
        <a [routerLink]="['/estatistica']">
          Estatísticas da loja
        </a>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-info" style="margin-right:20px">
    <mat-card-header>
      <mat-card-title>Atendimento</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        <mat-icon>phone</mat-icon> (31) 98260-5890
      </p>
      <p>
        <mat-icon>email</mat-icon> macedofilho0@hotmail.com
      </p>
    </mat-card-content>
  </mat-card>

</div>