<mat-toolbar color="#073763">
  <div style="width: 100%; display:flex; align-items: center;">
    <div style="width: 35%;">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/home" routerLinkActive="active-link">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </a>
        <a mat-menu-item routerLink="/login" routerLinkActive="active-link" *ngIf="userName == null || userName === ''">
          <mat-icon>face</mat-icon>
          <span>Login</span>
        </a>
        <button mat-menu-item (click)="showProfile()" *ngIf="userName !== null && userName !== ''">
          <mat-icon>person</mat-icon>
          <span>Meu perfil</span>
        </button>
        <a mat-menu-item routerLink="/veiculos" routerLinkActive="active-link" *ngIf="authService.isAdmin()">
          <mat-icon>directions_car</mat-icon>
          <span>Gerenciar veículos</span>
        </a>
        <a mat-menu-item routerLink="/gerenciar-alugueis" routerLinkActive="active-link" *ngIf="authService.isAdmin()">
          <mat-icon>reorder</mat-icon>
          <span>Gerenciar Aluguéis</span>
        </a>
        <a mat-menu-item routerLink="/meus-alugueis" routerLinkActive="active-link"
          *ngIf="userName !== null && !authService.isAdmin()">
          <mat-icon>directions_car</mat-icon>
          <span>Meus aluguéis</span>
        </a>
      </mat-menu>


      <span style="font-size: 14px; cursor:pointer" routerLink="home">Alucar Aluguel de Carros</span>
    </div>
    <div style="width: 30%;">
      <mat-form-field style="width: 100%; font-size:14px">
        <mat-icon matPrefix style="margin-bottom: -7px;">search</mat-icon>
        <input matInput type="search" placeholder="Digite a cidade de retirada" class="search-input"
          (keydown.enter)="pesquisar($event)" [(ngModel)]="pesquisa">
      </mat-form-field>
    </div>
    <span class="loginbutton" routerLink="/login" *ngIf="userName == null || userName === ''">
      <button mat-button>
        <mat-icon>face</mat-icon>
        Faça login ou cadastre-se
      </button>
    </span>

    <span class="loginbutton" *ngIf="userName !== null && userName !== ''">
      <button mat-icon-button [matMenuTriggerFor]="menuOptions">
        <mat-icon>face</mat-icon>
        {{userName}}
      </button>

      <mat-menu #menuOptions="matMenu">
        <button mat-menu-item (click)="showProfile()">
          <mat-icon>person</mat-icon>
          <span>Meu perfil</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout </mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </span>
  </div>

</mat-toolbar>
<block-ui></block-ui>

<app-progress-bar></app-progress-bar>
<router-outlet></router-outlet>